<!DOCTYPE heml>
<html lang="en">
<head>
   <meta charset="utf-8">
   <h2>
	   <img alt="Astronaut"  class="astronaut" src="{{ url_for('static', filename='images/astronaut.png') }}">
	   {{ name }}'s Watchlist
   </h2>

   <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>
<body>
	<h2>{{ name }}'s Watchlist</h2>
	{# 使用 length 过滤器获取 movies 变量的长度 #}
	<p>{{ movies|length }} Titles</p>
	<ul  class="movie-list">
		{% for movie in movies %} {# 迭代 movies 变量 #}
		<li>{{ movie.title }} - {{ movie.year }}</li> {# 等同于movie['title'] #}
		{% endfor %} {# 使用 endfor 标签结束 for 语句 #}
	</ul>
	<img alt="earth"  class="earth" src="{{ url_for('static', filename='images/earth.gif') }}">
	<footer>
		<small>&copy; 2020 <a href="http://helloflask.com/tutorial">HelloFlask</a></small>
	</footer>
</body>
</html>

		


